<div class="w-164 bg-base-100 text-base-content p-4 rounded-2xl">
  <div class="flex">
    <p class="text-xl font-bold">Volume</p>
  </div>

  @for (sink of data().sinks; track sink.id) {
    <app-sound-node
      [node]="sink"
      [active]="sink.name === soundService.defaultSink()?.name"
    ></app-sound-node>
  }

  <hr class="text-base-300" />

  @for (source of data().sources; track source.id) {
    <app-sound-node
      [node]="source"
      [active]="source.name === soundService.defaults()?.payload?.defaultSource"
    ></app-sound-node>
  }
</div>
