<div class="flex flex-col items-center w-144 h-72">
  <ul
    class="menu menu-xs menu-horizontal bg-base-200 rounded-field self-start mb-4"
  >
    @for (option of menuOptions; track $index) {
      <li>
        <a
          [class.menu-active]="option.value === tab()"
          (click)="tab.set(option.value)"
        >
          {{ option.label }}
        </a>
      </li>
    }
  </ul>

  <div class="flex-1 overflow-auto w-full bg-base-100 rounded-field">
    <ul class="list w-full">
      @switch (tab()) {
        @case ("output") {
          @for (device of devices(); track device.id) {
            <app-device type="output" [device]="device"></app-device>
          } @empty {
            <div class="list-row">Pusto</div>
          }
        }
        @case ("input") {
          @for (device of devices(); track device.id) {
            <app-device type="input" [device]="device"></app-device>
          } @empty {
            <div class="list-row">Pusto</div>
          }
        }
        @case ("playback") {
          @for (node of playbacks(); track node.id) {
            <app-node type="playback" [node]="node"></app-node>
          } @empty {
            <div class="list-row">Pusto</div>
          }
        }
        @case ("recording") {
          @for (node of recordings(); track node.id) {
            <app-node type="recording" [node]="node"></app-node>
          } @empty {
            <div class="list-row">Pusto</div>
          }
        }
      }
    </ul>
  </div>
</div>
