<div
  class="p-2 rounded-md flex gap-4 hover:bg-base-200 cursor-pointer"
  [class.bg-base-200]="isDefault()"
  (click)="!isDefault() && setDefault()"
>
  <div class="flex-1">
    <h4 class="text-sm font-bold mb-1">{{ displayName() }}</h4>

    <div class="text-xs">
      {{ node().description }}
    </div>

    <div class="flex pt-[10px]">
      <input
        class="slider flex-1 h-1 bg-base-300 m-0"
        type="range"
        step="0.01"
        min="0"
        max="1"
        [(ngModel)]="value"
        (ngModelChange)="changeVolume()"
        (click)="$event.stopPropagation()"
      />
    </div>
  </div>

  <div class="w-10">
    <button
      class="btn w-10 h-10 mb-1 rounded-sm flex justify-center items-center"
      (click)="changeMute(); $event.stopPropagation()"
    >
      <lucide-icon
        [img]="props().muted ? icons[type()].muted : icons[type()].unmuted"
        [size]="20"
      ></lucide-icon>
    </button>

    <div class="text-xs text-center bg-base-300 rounded-sm">
      {{ volume()[0] }}%
    </div>
    <!-- <div class="flex justify-between text-xs"> -->
    <!--   <span>|</span> -->
    <!--   <span>|</span> -->
    <!--   <span>|</span> -->
    <!--   <span>|</span> -->
    <!--   <span>|</span> -->
    <!-- </div> -->
    <!-- <div class="flex justify-between text-xs text-center -mx-3"> -->
    <!--   <div class="w-6 pl-1">0</div> -->
    <!--   <div class="w-6">25</div> -->
    <!--   <div class="w-6">50</div> -->
    <!--   <div class="w-6">75</div> -->
    <!--   <div class="w-6 pr-1">100</div> -->
    <!-- </div> -->
  </div>
  <!-- {{ props().volume }} -->
</div>
