<div class="w-screen h-screen flex flex-col justify-end items-end p-2">
  @if (barService.isPopupOpen()) {
    <div
      class="absolute w-full h-full top-0 left-0"
      (click)="barService.closePopup()"
    ></div>
  }

  <div class="relative z-1000 py-2">
    <router-outlet></router-outlet>
  </div>

  <div class="flex w-full h-8 justify-between">
    <div class="flex-1 flex">
      <div class="bg-base-100 rounded-field flex overflow-hidden">
        <app-start></app-start>
        <!-- <div class="divider divider-horizontal w-0! mx-2"></div> -->
        <app-workspaces></app-workspaces>
      </div>
    </div>

    @if (activeWindow()) {
      <div class="bg-base-100 rounded-field text-sm leading-8 px-2">
        {{ activeWindow() }}
      </div>
    }
    <div class="flex-1 flex justify-end">
      <div
        class="flex items-center gap-2 pl-2 bg-base-100 rounded-field overflow-hidden"
      >
        <app-sound (click)="barService.openPopup($event, 'sound')"></app-sound>
        <app-ethernet></app-ethernet>

        @if (barService.trayItems().length) {
          <div class="divider divider-horizontal w-0! mx-0 py-2"></div>
          <app-tray />
        }

        <div class="divider divider-horizontal w-0! mx-0 py-2"></div>
        <app-clock
          (click)="barService.openPopup($event, 'calendar')"
        ></app-clock>
        <app-power-menu></app-power-menu>
      </div>
    </div>
  </div>
</div>
