<div
  class="w-screen h-screen flex flex-col justify-end items-end p-2 gap-2 select-none relative"
>
  <!-- @if (barService.isPopupOpen()) { -->
  <!--   <div -->
  <!--     class="absolute w-full h-full top-0 left-0" -->
  <!--     (click)="barService.closePopup()" -->
  <!--   ></div> -->
  <!-- } -->

  <div class="relative z-1000">
    <router-outlet></router-outlet>
  </div>
  <div
    class="w-full bg-base-100 h-10 p-2 flex items-center shadow-md rounded-[6px] flex"
  >
    <div class="flex-1 flex">
      <app-start></app-start>
      <div class="divider divider-horizontal mx-2"></div>
      <app-workspaces></app-workspaces>
    </div>

    <div class="flex-1 flex justify-end gap-4">
      <app-sound (click)="barService.openPopup($event, 'sound')"></app-sound>
      <app-clock (click)="barService.openPopup($event, 'calendar')"></app-clock>
      <div class="divider divider-horizontal -mx-2"></div>
      <app-power-menu></app-power-menu>
    </div>
  </div>
</div>
