.container {
  display: flex;
  justify-content: space-between;
  background-color: #e7ac52;
  padding: 4px;
  border-radius: 4px;
}

.time {
  align-self: flex-end;
  width: 15em;
  position: relative;

  .lel {
    position: absolute;

    background-color: red;
    top: -4em;
  }
}
