<div class="bg-base-100 p-4 rounded-box flex flex-col items-center w-148">
  <ul class="menu menu-xs menu-horizontal bg-base-200 rounded-box self-start">
    @for (option of menuOptions; track $index) {
      <li>
        <a
          [class.menu-active]="option.value === tab()"
          (click)="tab.set(option.value)"
        >
          {{ option.label }}
        </a>
      </li>
    }
  </ul>

  <ul class="list bg-base-100 rounded-box shadow-md w-full">
    @switch (tab()) {
      @case ("output") {
        @for (device of devices(); track device.id) {
          <app-device
            type="output"
            [device]="device"
            [default]="defaultSink() === device"
          ></app-device>
        } @empty {
          <div class="list-row">Pusto</div>
        }
      }
      @case ("input") {
        @for (device of devices(); track device.id) {
          <app-device
            type="input"
            [device]="device"
            [default]="defaultSource() === device"
          ></app-device>
        }
      }
      @case ("playback") {
        @for (node of playbacks(); track node.id) {
          <app-node [node]="node" type="output"></app-node>
        }
      }
      @case ("recording") {
        @for (node of recordings(); track node.id) {
          <app-node [node]="node" type="input"></app-node>
        } @empty {
          <div class="list-row">Pusto</div>
        }
      }
      @case ("config") {
        @for (device of devices(); track device.id) {
          <app-device-config [device]="device"></app-device-config>
        }
      }
    }
  </ul>
</div>
